.mainresult {
  background: #00807e;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.resultText {
  font-size: 2rem;
  color: white;
  padding-bottom: 31px;
}
.btn1 {
  border: none;
  background: palegreen;
  outline: none;
  padding: 8px 40px;
  font-size: 1rem;
}
.btn1:hover {
  background: #2dd82d;
}
